---
import { changeLanguage } from "i18next";
import Layout from "../../../layouts/Layout.astro";

changeLanguage("pt");
---

<Layout
    title="Experience • Prevision"
    description="Information about the passage of Andre Katsuragawa at Prevision, where he worked and further developed his skills in Vue, Javascript and Ruby on Rails">
    <div>prevision</div>
</Layout>
