---
import { t, changeLanguage } from "i18next";
import { Image } from "@astrojs/image/components";
import Layout from "../../layouts/Layout.astro";
import Project from "../../components/Project.astro";
import ArrowLink from "../../components/ArrowLink.astro";

changeLanguage("pt");
---

<Layout title={t('page.title')} description={t('page.description')}>
    <section id="me" class="mb-14 grid grid-cols-4 grid-rows-1 gap-x-4">
        <Image
            src="/profile.png"
            height="612"
            aspectRatio="1:1"
            alt="profile picture"
            class="rounded-full h-24 w-24 bg-neutral-50 row-span-2 hover:scale-110 duration-300 transition-all"
        />
        <div class="col-span-3 col-start-2 flex flex-col justify-center">
            <h1 class="text-2xl font-semibold">Andre Katsuragawa</h1>
            <div class="opacity-75">{t('me.title')}</div>
            <p class="opacity-50">{t('me.sub')}</p>
        </div>
    </section>

    <section id="about" class="mb-16">
        <h2 class="mb-8">{t('about.title')}</h2>
        <p class="opacity-75">{t('about.text')}</p>
    </section>

    <section id="work" class="mb-16">
        <h2 class="mb-8">{t('work.title')}</h2>
        <div class="flex flex-col gap-8">
            <Project
                title={t('work.meli.title')}
                link={t('work.meli.link') as string}
                years={t('work.meli.years')}
                description={t('work.meli.description')}
                tech={t('work.meli.tech')}
            />
            <Project
                title={t('work.prevision.title')}
                link={t('work.prevision.link') as string}
                years={t('work.prevision.years')}
                description={t('work.prevision.description')}
                tech={t('work.prevision.tech')}
            />
            <Project
                title={t('work.freelancer.title')}
                years={t('work.freelancer.years')}
                description={t('work.freelancer.description')}
                tech={t('work.freelancer.tech')}
            />
            <Project
                title={t('work.tecza.title')}
                years={t('work.tecza.years')}
                description={t('work.tecza.description')}
                tech={t('work.tecza.tech')}
            />
        </div>
    </section>

    <section id="projects" class="mb-16">
        <h2 class="mb-8">{t('projects.title')}</h2>
        <div class="flex flex-col gap-8">
            <Project
                title={t('projects.nextree.title')}
                years={t('projects.nextree.years')}
                description={t('projects.nextree.description')}
                tech={t('projects.nextree.tech')}
                link="https://nextree.vercel.app/"
                target="_blank"
            />
            <Project
                title={t('projects.krypt.title')}
                years={t('projects.krypt.years')}
                description={t('projects.krypt.description')}
                tech={t('projects.krypt.tech')}
                link="https://github.com/katsuragawaa/krypt-web3.0"
                target="_blank"
            />
            <Project
                title={t('projects.payflow.title')}
                years={t('projects.payflow.years')}
                description={t('projects.payflow.description')}
                tech={t('projects.payflow.tech')}
                link="https://github.com/katsuragawaa/payflow"
                target="_blank"
            />
            <Project
                title={t('projects.letmeask.title')}
                years={t('projects.letmeask.years')}
                description={t('projects.letmeask.description')}
                tech={t('projects.letmeask.tech')}
                link="https://github.com/katsuragawaa/letmeask-web"
                target="_blank"
            />
        </div>
    </section>

    <section id="links">
        <h2 class="mb-8">{t('links.title')}</h2>
        <div class="grid grid-cols-4 grid-rows-2 gap-4">
            <div class="opacity-50">{t('links.github.site')}</div>
            <a
                href="https://github.com/katsuragawaa"
                target="_blank"
                class="col-span-3 col-start-2 flex items-center gap-1 hover:underline"
                >{t('links.github.user')}
                <ArrowLink />
            </a>
            <div class="opacity-50">{t('links.linkedin.site')}</div>
            <a
                href="https://www.linkedin.com/in/andrekatsuragawa/"
                target="_blank"
                class="col-span-3 col-start-2 flex items-center gap-1 hover:underline"
                >{t('links.linkedin.user')}
                <ArrowLink />
            </a>
        </div>
    </section>
</Layout>
