---
import Layout from '../../layouts/Layout.astro';
---

<Layout
    title="Experience • Mercado Livre"
    description="Details about the Andre Katsuragawa's performance at Mercado Livre, where he uses technologies such as React, Typescript, Java, Go (Golang) and Python.">
    <div>meli</div>
</Layout>
