---
import { Image } from '@astrojs/image/components';
import Layout from '../layouts/Layout.astro';
import Job from '../components/Job.astro';
---

<Layout title="Katsuragawa • Software Engineer">
    <section class="mb-14 grid grid-cols-4 grid-rows-1 gap-x-4">
        <Image
            src="profile.png"
            height="612"
            aspectRatio="1:1"
            alt="profile picture"
            format="webp"
            class="rounded-full bg-neutral-50 row-span-2 hover:scale-105 transition-all"
        />
        <div class="col-span-3 col-start-2 flex flex-col justify-center">
            <h1 class="text-2xl font-semibold">Andre Katsuragawa</h1>
            <div class="opacity-75">Product-focused Software Engineer</div>
            <p class="opacity-50">I build things.</p>
        </div>
    </section>

    <section class="mb-14">
        <h2 class="mb-6">About</h2>
        <p class="opacity-75">
            Hello~ I'm Andre. I enjoy building dynamic, creative products from start to finish. Focused on developing
            intuitive experiences that constantly grow and improve based on user metrics.
            <span class="">Always shipping.</span>
        </p>
    </section>

    <section class="mb-14">
        <h2 class="mb-6">Work Experience</h2>
        <Job
            title="Software Engineer - Mercado Livre"
            link="/experiences/meli"
            years="2022 - now"
            description="Creation of a new back office products for distribution centers throughout Latin America."
            tech="React • Java • Golang • Python"
        />
        <br />
    </section>

    <section class="mb-14">
        <h2 class="mb-6">Side Projects</h2>
        <Job
            title="Software Engineer - Mercado Livre"
            link="/experiences/meli"
            years="2022 - now"
            description="Creation of a new back office products for distribution centers throughout Latin America. In an agile environment, using Test Driven Development to build features as per requirements and an Object-Oriented code. Everyday use of Git and automated deployment with CI/CD, containerized local development environment with Docker. Code review as a standard process before deploy, aiming at developing clean code and respecting SOLID principles."
            tech="React • Java • Go"
        />
    </section>

    <section>
        <h2 class="mb-6">Links</h2>
        <div class="grid grid-cols-4 grid-rows-2 gap-y-2 gap-x-4">
            <div class="opacity-50">GitHub</div>
            <div class="col-span-3 col-start-2 flex flex-col gap-2">@katsuragawaa</div>
            <div class="opacity-50">LinkedIn</div>
            <div class="col-span-3 col-start-2 flex flex-col gap-2">@katsuragawaa</div>
        </div>
    </section>
</Layout>
