---
import { Image } from '@astrojs/image/components';
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import ArrowLink from '../components/ArrowLink.astro';
---

<Layout title="Katsuragawa • Software Engineer">
    <section class="mb-14 grid grid-cols-4 grid-rows-1 gap-x-4">
        <Image
            src="/profile.png"
            height="612"
            aspectRatio="1:1"
            alt="profile picture"
            class="rounded-full bg-neutral-50 row-span-2 hover:scale-105 transition-all"
        />
        <div class="col-span-3 col-start-2 flex flex-col justify-center">
            <h1 class="text-2xl font-semibold">Andre Katsuragawa</h1>
            <div class="opacity-75">Product-focused Software Engineer</div>
            <p class="opacity-50">I build things.</p>
        </div>
    </section>

    <section class="mb-16">
        <h2 class="mb-8">About</h2>
        <p class="opacity-75">
            Hello~ I'm Andre. I enjoy building dynamic, creative products from start to finish. Focused on developing
            intuitive experiences that constantly grow and improve based on user metrics.
            <span class="">Always shipping.</span>
        </p>
    </section>

    <section class="mb-16">
        <h2 class="mb-8">Work Experience</h2>
        <div class="flex flex-col gap-8">
            <Project
                title="Software Engineer • Mercado Livre"
                link="/experiences/meli"
                years="2022 - now"
                description="Created new back office products for distribution centers across Latin America, used by analysts to optimize logistics and reduce costs."
                tech="React • Java • Golang • Python"
            />
            <Project
                title="Full Stack Developer • Prevision"
                link="/experiences/prevision"
                years="2020 - 2022"
                description="Development of a web-based application for visual planning using the Lean Construction methodology, which was utilized by thousands of construction companies nationwide."
                tech="Vue • Ruby on Rails • GraphQL"
            />
            <Project
                title="Front End Developer • Freelancer"
                link="/experiences/freelancer"
                years="2019 - 2020"
                description="Development of UI components using the React library, consuming API through REST and/or GraphQL."
                tech="React • Redux • Styled Components • Framer Motion"
            />
            <Project
                title="Trainee • Tecza"
                link="/experiences/tecza"
                years="2018 - 2019"
                description="Support in overseeing the development of the construction management platform"
                tech="Javascript • Python • Flask"
            />
        </div>
    </section>

    <section class="mb-16">
        <h2 class="mb-8">Side Projects</h2>
        <div class="flex flex-col gap-8">
            <Project
                title="Nextree"
                link="https://nextree.vercel.app/"
                target="_blank"
                years="2022"
                description="A tree-like app that helps you visualize and create your perfect folder structure."
                tech="Next.js • Typescript"
            />
            <Project
                title="Krypt"
                link="https://github.com/katsuragawaa/krypt-web3.0"
                target="_blank"
                years="2021"
                description="A web 3.0 blockchain application to send crypto with a GIF."
                tech="React • Vite • Solidity"
            />
            <Project
                title="Payflow"
                link="https://github.com/katsuragawaa/payflow"
                target="_blank"
                years="2021"
                description="Mobile application for managing bills."
                tech="Flutter • Firebase"
            />
            <Project
                title="Letmeask"
                link="https://github.com/katsuragawaa/letmeask-web"
                target="_blank"
                years="2020"
                description="Web application to facilitate Q&A sessions during livestreams"
                tech="React • Typescript • Firebase"
            />
        </div>
    </section>

    <section>
        <h2 class="mb-8">Links</h2>
        <div class="grid grid-cols-4 grid-rows-2 gap-y-2 gap-x-4">
            <div class="opacity-50">GitHub</div>
            <a
                href="https://github.com/katsuragawaa"
                target="_blank"
                class="col-span-3 col-start-2 flex items-center gap-1 hover:underline"
                >@katsuragawaa
                <ArrowLink />
            </a>
            <div class="opacity-50">LinkedIn</div>
            <a
                href="https://www.linkedin.com/in/andrekatsuragawa/"
                target="_blank"
                class="col-span-3 col-start-2 flex items-center gap-1 hover:underline"
                >@andrekatsuragawa
                <ArrowLink />
            </a>
        </div>
    </section>
</Layout>
