---
import { Image } from '@astrojs/image/components';
import Layout from '../layouts/Layout.astro';
import Job from '../components/Job.astro';
import profileImg from '../assets/pic.png';
---

<Layout title="Katsuragawa • Software Engineer">
    <section class="mb-14 grid grid-cols-4 grid-rows-1 gap-x-4">
        <Image
            src={profileImg}
            alt="profile picture"
            format="webp"
            class="rounded-full bg-neutral-50 row-span-2 hover:scale-105 transition-all"
        />
        <div class="col-span-3 col-start-2 flex flex-col justify-center">
            <h1 class="text-2xl font-semibold">Andre Katsuragawa</h1>
            <div class="opacity-75">Product-focused Software Engineer</div>
            <p class="opacity-50">I build things.</p>
        </div>
    </section>

    <section class="mb-14">
        <h2 class="mb-6">About</h2>
        <p class="opacity-75">
            Hello~ I'm Andre. I enjoy building dynamic, creative products from start to finish. Focused on developing
            intuitive experiences that constantly grow and improve based on user metrics.
            <span class="">Always shipping.</span>
        </p>
    </section>

    <section class="mb-14">
        <h2 class="mb-6">Work Experience</h2>
        <Job />
        <br />
        <Job />
        <br />
        <Job />
    </section>

    <section class="mb-14">
        <h2 class="mb-6">Side Projects</h2>
        <Job />
        <br />
        <Job />
    </section>

    <section>
        <h2 class="mb-6">Links</h2>
        <div class="grid grid-cols-4 grid-rows-2 gap-y-2 gap-x-4">
            <div class="opacity-50">GitHub</div>
            <div class="col-span-3 col-start-2 flex flex-col gap-2">@katsuragawaa</div>
            <div class="opacity-50">LinkedIn</div>
            <div class="col-span-3 col-start-2 flex flex-col gap-2">@katsuragawaa</div>
        </div>
    </section>
</Layout>
